.bug__details {
	height: 100%;

	display: flex;
	flex-direction: column;
}

.bug__details-heading {
	margin: 1.5rem 0;
}
.bug__details-content {
	flex: 1;
}
.btn_complete {
	padding: 10px;
	width: 40%;
	border: 1px solid gray;
	border-radius: 10px;
	cursor: pointer;
	margin: 1rem 0;
}

.btn_complete:hover {
	transition: all 0.3s;
	color: white;
}

.editBug {
	position: absolute;
	width: 58%;
	height: 75vh;
	top: 15%;
	right: 0%;
}
