.bt__card {
	border-radius: 5px;
	background-color: #f4f6f7;
	min-width: 275px;
	min-height: 200px;
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	box-shadow: 2px 2px 2px lightgrey;
}

.bt__card h2 {
	width: 100%;
	margin-top: 5px;
}
